body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-areas:
        "b1 b1 b1 b1"
        "b2 b3 b3 b4"
        "b2 b3 b3 b4"
        "b2 b3 b3 b5"
        "b2 b3 b3 b5"
        "b2 b6 b6 b6";
    grid-template-columns: 2fr 4fr;
    grid-auto-rows: minmax(80px, auto);
    gap: 2px;
    width: 50%;
    margin: 20px auto;
    height: 90vh;
    border: 1px solid #000;
}
.block {
    border: 1px solid #000;
    padding: 5px;
    position: relative;
}
.block1 {
    grid-area: b1;
    background: #cce0f5;
    align-content: center;
}

.inner-container {
    display: flex;
    justify-content: space-evenly;
}

.block2 { grid-area: b2; background: #e5f2d7; }
.block3 { grid-area: b3; background: #fff; }
.block4 { grid-area: b4; background: #e5f2d7; }
.block5 { grid-area: b5; background: #fbe2d7; }
.block6 { grid-area: b6; background: #cce0f5; }

.inner {
    border: 1px solid #000;
    background: #fff;
    display: inline-flex;
    align-content: center;
    padding: 3px 6px;
    height: fit-content;
    margin: 10px 0;
}

.content {
    width: 80%;
}

.content ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.block6 .content{
    text-align: end ;
}


